<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Arwing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Bailiff.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7A02AF3D1CD820A800D9AAA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A82094E1CC2E592008DB4DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A8209631CC2E601008DB4DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A82096C1CC2E601008DB4DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
